@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #000;
  --accent: #1f75c5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
    --accent: #c51f5d;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .to-accent {
    --tw-gradient-to: var(--accent);
  }
}
